.bg-footer{
    width: 100%;
    bottom: 0;
    -webkit-box-shadow: 0px -1px 0px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 0px 0 rgba(0,0,0,0.1);
    box-shadow: 0px -1px 0px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,1);
    text-align: center;
    white-space: nowrap;
    min-height: 100px;
}
.bg-footer h5{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    padding: 3px 0;
    margin: 5px 0;
    letter-spacing: 0.34px;
    color: #FF333A;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.link {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    display: block;
    padding: 3px 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
a:hover.link {
    color: #333333;
}