@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.bg-header{
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 1px 0px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 0px 0 rgba(0,0,0,0.1);
    box-shadow: 0px 1px 0px 0 rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,1);
    height: 68px;
    font-size:0;
    text-align: center;
    white-space: nowrap;
    z-index: 999;
}
.items{
    max-width: 768px;
    margin: 0 auto;
    color: #333333;
    line-height: 15px;
}
.item{
    width: 96px;
    display: inline-block;
    height: 70px;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.item i{
    display: block;
    margin: 10px auto;
    font-size: 22px;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
a{    
    outline: none;
    color: #333333;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
a:hover{    
    outline: none;
    color: #666666;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.item-label{
    display: block;
    bottom: 0;
    position: relative;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.43px;
    color: #999999;
    text-align: center;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif;
}
.items .item.active i , .item:hover i{
    opacity: 0.7;

}
.items .item.active .item-label ,.item:hover .item-label{
    color: #666666;
}
.items .item.active ,.item:hover{
    border-bottom-color: #EE223D;
}
.transition {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}