body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f8f9fc;
	background-repeat: repeat;
	background-position: center;
	line-height: 1;
}
.m-t-20{
	margin-top: 20px;
}
.btn-red, .btn-light-red:hover {
	background-color: #d9534f;
	border: 1px solid #d9534f;
	color: white;
	font-size: 12px;
	font-weight: 600;
	box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.23);
}
.btn-blue {
	background-color: #2399e5;
	border: 1px solid #2399e5;
	color: white;
	font-size: 12px;
	font-weight: 600;
	box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.23);
}
@media (min-width: 1200px){
	.container {
	  max-width: 70% !important;
	}
}
.ui-widget-header {
	background: #d9534f !important;
	color: #ffffff !important;
	font-weight: 600 !important;
}