.margin-cont{
    margin-top:45px;
    margin-bottom:90px;
}
.sousLogo {
    font-size: 22px;
    line-height: 24px;
    padding: 4px 0 13px 0;
    color: #3E3E3E;
    font-family: 'montserrat', 'open_sans';
}