.rowArticle{
    margin-right: 0;
    margin-left: 0; 
}
@media (min-width: 1200px){
    .videosSearch {
      max-width: 80% !important;
    }
}
@media (min-width: 992px)
{    
    .containevideosSearchr {
        max-width: 960px;
    }
}
@media (min-width: 768px)
{
    .videosSearch {
        max-width: 720px;
    }
}
@media (min-width: 576px)
{
    .videosSearch {
        max-width: 540px;
    }
}
.videosSearch {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
i {
    max-width: 100%;
    height: auto;
    font-size: 18px !important;
}

.col-3,.col-7,.col-6,.col-1{
    padding-right: 0;
    padding-left: 0;
}
article {
    background-color: #fff;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
article .gauche {
    float: left;
    width: 130px;
}
article .gauche img {
    cursor: pointer;
    border-radius: 3px 0 0;
    max-width: 100%;
    height: auto;
}
article h2 {
    margin: 4px 0 0 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    text-align: left;
    color: #333;
}
article p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5em !important;
    font-size: 14px;
    font-weight: 500;
    height: 4.5em;
    color: #666666;
    text-align: left;
    margin: 5px 0;
}
article button {
    padding: 5px 8px;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
}
.clear {
    clear: both;
}